{% block uploadify_widget %}
{% spaceless %}
    <div class="uploadify">
        {{ block('field_widget') }}
        <script type="text/javascript">
        $(function(){
            $("#{{id}}").uploadify({
                uploader  : '{{ asset('bundles/ruianuploadify/swf/uploadify.swf') }}',
                script    : '{{ path(attr['data-path']) }}',
                cancelImg : '{{ asset('bundles/ruianuploadify/img/cancel.png') }}',
                folder    : '{{ attr['data-folder'] }}',
                scriptData   : {
                    _uploadify : true,
                    _sessionid : '{{ attr['data-session'] }}',
                },
                auto      : true,
                onComplete  : function(event, ID, fileObj, response, data) {
                    response = jQuery.parseJSON(response);
                    $('#{{ attr['data-preview'] }}').html("<img src='"+response.folder+response.file+"' />");
                    $('#{{ attr['data-copy'] }}').attr('value', response.folder+response.file);
                }
            });
        })
        </script>
    </div>
    <div id="{{ attr['data-preview'] }}"></div>
{% endspaceless %}
{% endblock %}