{% block field_widget %}
{% spaceless %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}

{% if data_uploadify is defined %}
<div id="uploadify-{{id}}" class="uploadify-container"></div>
<script type="text/javascript">
    $(function(){
        $("#uploadify-{{id}}").uploadify(
            {{ data_uploadify|raw }}
        );
        // Put the data value afeter upload success
        $("#uploadify-{{id}}").uploadify('settings', 'onUploadSuccess', function(file, data, response){
            $("#{{id}}").attr('value', data);
        });
    });
</script>
{% endif %}

{% endblock field_widget %}